@model UserManagement.Web.Models.Users.UserListItemViewModel

<h2>Add a new user</h2>

<div class="table-responsive">
    <form asp-action="AddUser">
        <input type="hidden" asp-for="Id" />
        <div>
            <label>Forename:</label>
            <span asp-validation-for="Forename" class="text-danger"></span>
            <input asp-for="Forename" class="form-control" />
        </div>
        <div>
            <label>Surname:</label>
            <span asp-validation-for="Surname" class="text-danger"></span>
            <input asp-for="Surname" class="form-control" />
        </div>
        <div>
            <label>Date of Birth:</label>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            <input asp-for="DateOfBirth" type="date" class="form-control" />
        </div>
        <div>
            <label>Email:</label>
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Save" />
        </div>
    </form>
</div>

<div>
    <div class="btn-group" role="group">
        <a asp-controller="Users" asp-action="List" class="btn btn-default">Show All</a>
        <a asp-controller="Users" asp-action="ActiveOnly" class="btn btn-default">Active Only</a>
        <a asp-controller="Users" asp-action="InactiveOnly" class="btn btn-default">Non Active</a>
    </div>
</div>

